* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Ubuntu', sans-serif; */
}

li {
    list-style: none;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}

a:hover {
    color: gray;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------- */
#main{
    /* background-color: #85c8ff; */
    height: 100vh;
    /* border: 2px solid red; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#about{
    /* background-color: antiquewhite; */
    height: 100vh;
}
#project{
    /* background-color: rgb(151, 249, 216); */
     height: 150vh;
     /* border: 2px solid red; */
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}
/* #contact{
    background-color: rgb(142, 142, 255);
} */
footer{
    background-color: black;
    color: white;
    height: 9vh;
}
/* --------------------------------------------------------------------------------------------------------- */
.hed {
    font-size: 1.5rem;
    font-weight: bold;
    color: #068FFF;
    font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
/* font-family: 'Ubuntu', sans-serif; */
}
header {
    /* padding: 0 2rem; */
    /* margin: 3rem; */
    height: 100px;
    position: sticky;
    top: 0px;
    /* width: 100%; */
    /* border: 2px solid rgb(102, 95, 95); */
    z-index: 1;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.navbar {
    /* width: 100%; */
    /* margin: 30px auto; */
    display: flex;
    justify-content: space-between;
    /* border: 2px solid rgb(102, 95, 95); */
    position: absolute;
    top: 40px;
    right: 45px;
    bottom: 0;
    left: 45px;

}

.logo {
    display: flex;
    text-align: left;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .link {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.dropdown {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0;
    overflow: hidden;
    transition: heigth .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown.open {
    height: 240px;
}

.dropdown li {
    padding: 0.7rem;
    display: flex;
    text-align: center;
    justify-content: center;
}

/*=================== HOME=================== */
/* #main {
    border: 2px solid rgb(255, 255, 255);
    height: 39rem;
    margin-top: 5rem;
} */


#container {
    display: flex;
    justify-content: center;
}

#container .home {
    width: 500px;
}

#container h1 {
    font-size: 3.5rem;
    /* padding: 2rem 0px 1rem 0px; */
    font-weight: bold;
}

#container p {
    padding: 0.5rem 7rem 1rem 0;
    font-size: 1.2rem;
}

#container .photo img {
    /* border: 2px solid rgb(19, 80, 4); */
    width: 330px;
    height: 350px;

}

#icons {
    display: flex;
}

#icons .git {
    margin-left: 15px;
}

#icons .fa-3 {
    font-size: 27px;
}

.tech {
    /* border: 2px solid rgb(87, 8, 8); */
    display: flex;
    justify-content: center;

}

.tech h3 {
    margin: 1rem;
    font-size: 1.8rem;
}

.tech i {
    font-size: 40px;
    margin: 1rem;
    align-items: center;
}

/*================ About===================== */

#about {
    position: relative;
}

.about1 {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

#about .photo img {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50px;
}
/* #about .text {
    width: 550px;
    margin: 0 0 0 3rem;
} */

.text{
    /* border: 2px solid red; */
    margin-left: 40px;
}

.heading h1 {
    margin: 1rem 0 1rem 0;
    font-weight: bolder;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0.3px;

}

/* ------------------------- */
.gif {
    position: absolute;
    top: 180px;
    left: 160px;
    right: 0;
    bottom: 0;
    background-color: white;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    animation: rotateText 10s linear infinite;

}

.emo {
    font-size: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.gif .round p {
    position: absolute;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-weight: bold;
}

@keyframes rotateText {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.round span {
    position: absolute;
    left: 50%;
    font-size: 1.2em;
    transform-origin: 0 80px;
}

/* --------------------------------- */


/*===================== PROJECT======================== */
/* #project {
    border: 2px solid rgb(255, 255, 255);
    height: 1000px;
    display: flex;
    justify-content: center;
   
} */

.project1 {
    /* border: 2px solid rgb(7, 170, 72); */
    /* display: flex;
    justify-content: left; */
    width: 870px;
}

.pro h2 {
    font-weight: bold;
    margin: 30px 0 10px 0;
    color: #068FFF;
}
.pro h1{
    margin-bottom: 70px;
    font-family: 'Ubuntu', sans-serif;
}

.pro1 {
    display: flex;
    margin: 3rem 3rem 5rem 3rem;
}

.pro2 {
    display: flex;
    /* margin: 3rem; */
}

.image img {
    width: 380px;
    height: 330px;
    border-radius: 15px;
}

.explanation {
    text-align: center;
    padding: 0 30px 0px 30px;
}

.explanation p {
    /* text-align: justify; */
    text-align-last: center;
    margin: 20px 20px 30px 20px;
}

.code {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.code h3 {
    font-weight: bolder;
}

.demo {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

/* ==============================Contact============================== */
#contact {
    /* border: 2px solid rgb(170, 148, 7); */
    height: 700px;
    display: flex;
    justify-content: center;
    /* margin-top: 12rem; */
    position: relative;
}

.contact {
    /* border: 2px solid rgb(23, 94, 51); */
    width: 870px;
    position: absolute;
    top: 30%;
    
}

.contact h2,h1{
    margin: 20px 0 10px 0;
}
.contact h1{
    font-family: 'Ubuntu', sans-serif;
}
.con .location {
    display: flex;
    /* justify-content: start; */
}

.con {
    display: flex;
    justify-content: space-around;
    /* border: 2px solid rgb(170, 148, 7); */
    width: 75%;
    margin-top: 3rem;
}
.con1{
    margin-left: 40px;
}
.con1 h3{
    margin: 0 0  10px 0;
}
.me{
    margin-top: 10px;
}

/* ==============================FOOTER============================= */
.foot{
    /* border: 2px solid rgb(110, 213, 151); */
    height: 9vh;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}
.ico{
    display: flex;
}
.ico i{
    margin: 7px;
}
.foot p{
    font-weight: bold;
}

/* ===========================RESPONSIVE============================== */
@media(max-width: 800px) {
    a {
        font-size: 1rem;
    }

    .navbar .link {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown {
        display: block;
    }

    /* #container h1 {
        font-size: 3rem;
    }

    #container .photo img {
        width: 300px;
        height: 300px;
    } */

    #container .home {
        /* width: 600px; */

    }

    /* .main {
        margin-left: 3rem;
    }

    .tech {
        display: flex;
        justify-content: center;
    }

    #about .photo img {
        width: 250px;
        height: 250px;
        border-radius: 50px;
    } */
}
/* 
@media(max-width:688px) {
    .toggle_btn {
        position: relative;
        top: 0;
        left: 20px;
        bottom: 0;
        right: 0;
    }

    #container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: relative;
        top: 0;
        left: 55px;
        bottom: 0;
        right: 0;
    }

    .main {
        margin-left: 3rem;

    }

    #container p {
        margin-left: 6rem;
    }

    #icons {
        display: flex;
        justify-content: center;
    }

    .main {
        height: 56rem;
    }
}

@media(max-width:540px) {
    #container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: relative;
        top: 0;
        left: 85px;
        bottom: 0;
        right: 0;
    }

    .dropdown {
        width: unset;
    }

    .toggle_btn {
        position: relative;
        top: 0;
        left: 170px;
        bottom: 0;
        right: 0;
    }
}

@media(max-width:395px) {
    .dropdown {
        position: relative;
        top: 0;
        left: 80px;
        bottom: 0;
        right: 0;
        width: unset;
    }

    .toggle_btn {
        position: relative;
        top: 0;
        left: 130px;
        bottom: 0;
        right: 0;
    }

    #container {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        position: relative;
        top: 0;
        left: 45px;
        bottom: 0;
        right: 0;
    }

    #container p {
        margin-left: 7rem;
    }

    .main {
        align-items: center;
        width: 26rem;
    }
} */